.card-content,
.numbers,
.quote,
.section-heading {
    text-align: center
}

body {
    background: #000;
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column
}

p {
    font-family: 'Roboto', serif;
    font-weight: 700;
}

main {
    flex: 1 0 auto
}

h4.tagline {
    color: #FCFDFF;
    text-shadow: 0 1px 1px #696969;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.quote {
    color: #000;
    margin: 50px 0;
    padding: 20% 20px
}

.diagonal {
    background: #FCFDFF;
    position: relative;
    z-index: 1
}

.diagonal:after,
.diagonal:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden
}

.diagonal:before {
    top: 0;
    transform: skewY(3deg);
    transform-origin: 100%
}

.diagonal:after {
    bottom: 0;
    transform: skewY(-3deg);
    transform-origin: 100%
}

@media screen and (min-width:300px) {
    .masthead {
        height: 60vh
    }
    .second-parallax {
        height: 750px
    }
}

@media screen and (min-width:660px) {
    .masthead {
        width: 100%;
        height: 90vh
    }
    .second-parallax {
        height: 750px
    }
}

@media screen and (min-width:992px) {
    .masthead {
        width: 100%;
        height: 90vh
    }
    .second-parallax {
        height: 500px
    }
}

img.logo {
    height: 30px;
    padding-top: 5px
}

nav {
    background-color: transparent;
}

h4.heading,
h5.game {
    font-family: 'Roboto', sans-serif;
}

h5.game {
    color: #FCFDFF;
    margin-top: -10px
}

#counter1,
#counter2,
#counter3,
#counter4 {
    display: inline-block;
    color: #FCFDFF;
    font-family: 'Roboto', sans-serif;
    font-size: 75px;
}

.numbers {
    position: relative
}

.cardpage {
    background-color: #fff;
    font-weight: 200;
    padding-left: 20px;
    padding-right: 20px;
}

.card-content {
    color: #3498db
}

#topPad {
    padding-top: 100px
}

.addPad {
    padding-top: 25px;
    margin-top: 38px
}

.menu-btn {
    padding-left: 30px;
}

.social {
    padding-left: 5px;
}


/*! Gray v1.4.5 (https://github.com/karlhorky/gray) | MIT */

.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    filter: gray
}

.grayscale.grayscale-fade {
    transition: filter .5s
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .grayscale.grayscale-fade {
        -webkit-transition: -webkit-filter .5s;
        transition: -webkit-filter .5s
    }
}

.grayscale.grayscale-fade:hover,
.grayscale.grayscale-off {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
}

.grayscale.grayscale-replaced {
    -webkit-filter: none;
    filter: none
}

.grayscale.grayscale-replaced>svg {
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    opacity: 1
}

.grayscale.grayscale-replaced.grayscale-fade:hover>svg,
.grayscale.grayscale-replaced.grayscale-off>svg {
    opacity: 0
}